header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  #logo {
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 70px;
    width: 135px;
    margin-left: 20px;
  }
  