.filter {
  color: #fff;
  height: 70px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.filter button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #fff;
  height: 48px;
  width: 20%;
  border: 0px;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.filter button:hover {
  opacity: 0.9;
}
.filter div {
  height: 100%;
  width: 25%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.filter h3,
.filter h4 {
  padding-left: 20%;
}
.filter div:first-child {
  border-right: 1px solid #ddd;
}
.filter h3 {
  font-weight: 600;
  margin: 0px;
}
.filter h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
}
.filter .popover {
  position: absolute;
  top: 55px;
  border: 1px solid #ddd;
  border-top: 0px solid #ddd;
  width: 100.5%;
  box-sizing: border-box;
  background-color: #fafafa;
  display: none;
  padding-bottom: 20px;
  margin-left: 0px;
  /* right: 1px; */
  /* left: 0px; */
}
.popover li {
  list-style: none;
}
.popover h2 {
  margin-bottom: 0%;
}
.locations:hover .popover {
  display: block;
}
.amenities:hover .popover {
  display: block;
}
